<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAr6lrL0dNIyhWHpYys5Hy9IwUsaqN8XgI</string>
	<key>GCM_SENDER_ID</key>
	<string>387954875379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.breathinApp</string>
	<key>PROJECT_ID</key>
	<string>happy-birthday-f</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-birthday-f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387954875379:ios:0e3a341678e6b455d65086</string>
</dict>
</plist>